<div class="field">
  <%= f.attribute_fields  do |a| %>
    <%= a.attribute_select associations: [:category, :manufacturer] %>
  <% end %>
  <%= f.predicate_select :only => [ :cont, :eq, :lt,  :gt], :compounds => false%>
  <%= f.value_fields do |v| %>
    <%= v.text_field :value %>
  <% end %>
  <%= link_to "удалить", '#', class: "remove_fields" %>
</div>